src/main/java/ws/localdb/people.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.localdb.lifecoach/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.localdb.lifecoach/" name="PeopleService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.localdb.lifecoach/" schemaLocation="http://introsde-lifecoach-localdb.herokuapp.com/ws/people?xsd=1"/>
</xsd:schema>
</types>
<message name="readPerson">
<part name="parameters" element="tns:readPerson"/>
</message>
<message name="readPersonResponse">
<part name="parameters" element="tns:readPersonResponse"/>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"/>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="readMeasure">
<part name="parameters" element="tns:readMeasure"/>
</message>
<message name="readMeasureResponse">
<part name="parameters" element="tns:readMeasureResponse"/>
</message>
<message name="getPeopleList">
<part name="parameters" element="tns:getPeopleList"/>
</message>
<message name="getPeopleListResponse">
<part name="parameters" element="tns:getPeopleListResponse"/>
</message>
<message name="createPerson">
<part name="parameters" element="tns:createPerson"/>
</message>
<message name="createPersonResponse">
<part name="parameters" element="tns:createPersonResponse"/>
</message>
<message name="readLastMeasure">
<part name="parameters" element="tns:readLastMeasure"/>
</message>
<message name="readLastMeasureResponse">
<part name="parameters" element="tns:readLastMeasureResponse"/>
</message>
<message name="readLastMeasureByType">
<part name="parameters" element="tns:readLastMeasureByType"/>
</message>
<message name="readLastMeasureByTypeResponse">
<part name="parameters" element="tns:readLastMeasureByTypeResponse"/>
</message>
<message name="getMeasureHistory">
<part name="parameters" element="tns:getMeasureHistory"/>
</message>
<message name="getMeasureHistoryResponse">
<part name="parameters" element="tns:getMeasureHistoryResponse"/>
</message>
<message name="getSomeMeasure">
<part name="parameters" element="tns:getSomeMeasure"/>
</message>
<message name="getSomeMeasureResponse">
<part name="parameters" element="tns:getSomeMeasureResponse"/>
</message>
<message name="createMeasure">
<part name="parameters" element="tns:createMeasure"/>
</message>
<message name="createMeasureResponse">
<part name="parameters" element="tns:createMeasureResponse"/>
</message>
<message name="updateMeasure">
<part name="parameters" element="tns:updateMeasure"/>
</message>
<message name="updateMeasureResponse">
<part name="parameters" element="tns:updateMeasureResponse"/>
</message>
<message name="deleteMeasure">
<part name="parameters" element="tns:deleteMeasure"/>
</message>
<message name="deleteMeasureResponse">
<part name="parameters" element="tns:deleteMeasureResponse"/>
</message>
<message name="readMeasureType">
<part name="parameters" element="tns:readMeasureType"/>
</message>
<message name="readMeasureTypeResponse">
<part name="parameters" element="tns:readMeasureTypeResponse"/>
</message>
<message name="getIdMeasureTypeByType">
<part name="parameters" element="tns:getIdMeasureTypeByType"/>
</message>
<message name="getIdMeasureTypeByTypeResponse">
<part name="parameters" element="tns:getIdMeasureTypeByTypeResponse"/>
</message>
<message name="getMeasureTypeList">
<part name="parameters" element="tns:getMeasureTypeList"/>
</message>
<message name="getMeasureTypeListResponse">
<part name="parameters" element="tns:getMeasureTypeListResponse"/>
</message>
<message name="getGoals">
<part name="parameters" element="tns:getGoals"/>
</message>
<message name="getGoalsResponse">
<part name="parameters" element="tns:getGoalsResponse"/>
</message>
<message name="readGoal">
<part name="parameters" element="tns:readGoal"/>
</message>
<message name="readGoalResponse">
<part name="parameters" element="tns:readGoalResponse"/>
</message>
<message name="getGoalHistory">
<part name="parameters" element="tns:getGoalHistory"/>
</message>
<message name="getGoalHistoryResponse">
<part name="parameters" element="tns:getGoalHistoryResponse"/>
</message>
<message name="createGoal">
<part name="parameters" element="tns:createGoal"/>
</message>
<message name="createGoalResponse">
<part name="parameters" element="tns:createGoalResponse"/>
</message>
<message name="updateGoal">
<part name="parameters" element="tns:updateGoal"/>
</message>
<message name="updateGoalResponse">
<part name="parameters" element="tns:updateGoalResponse"/>
</message>
<message name="deleteGoal">
<part name="parameters" element="tns:deleteGoal"/>
</message>
<message name="deleteGoalResponse">
<part name="parameters" element="tns:deleteGoalResponse"/>
</message>
<message name="getGoalByTitle">
<part name="parameters" element="tns:getGoalByTitle"/>
</message>
<message name="getGoalByTitleResponse">
<part name="parameters" element="tns:getGoalByTitleResponse"/>
</message>
<message name="readGoalType">
<part name="parameters" element="tns:readGoalType"/>
</message>
<message name="readGoalTypeResponse">
<part name="parameters" element="tns:readGoalTypeResponse"/>
</message>
<message name="getGoalTypeList">
<part name="parameters" element="tns:getGoalTypeList"/>
</message>
<message name="getGoalTypeListResponse">
<part name="parameters" element="tns:getGoalTypeListResponse"/>
</message>
<portType name="People">
<operation name="readPerson">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readPersonRequest" message="tns:readPerson"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readPersonResponse" message="tns:readPersonResponse"/>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://webservice.localdb.lifecoach/People/updatePersonRequest" message="tns:updatePerson"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/updatePersonResponse" message="tns:updatePersonResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://webservice.localdb.lifecoach/People/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="readMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readMeasureRequest" message="tns:readMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readMeasureResponse" message="tns:readMeasureResponse"/>
</operation>
<operation name="getPeopleList">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getPeopleListRequest" message="tns:getPeopleList"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getPeopleListResponse" message="tns:getPeopleListResponse"/>
</operation>
<operation name="createPerson">
<input wsam:Action="http://webservice.localdb.lifecoach/People/createPersonRequest" message="tns:createPerson"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/createPersonResponse" message="tns:createPersonResponse"/>
</operation>
<operation name="readLastMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readLastMeasureRequest" message="tns:readLastMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readLastMeasureResponse" message="tns:readLastMeasureResponse"/>
</operation>
<operation name="readLastMeasureByType">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readLastMeasureByTypeRequest" message="tns:readLastMeasureByType"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readLastMeasureByTypeResponse" message="tns:readLastMeasureByTypeResponse"/>
</operation>
<operation name="getMeasureHistory">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getMeasureHistoryRequest" message="tns:getMeasureHistory"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getMeasureHistoryResponse" message="tns:getMeasureHistoryResponse"/>
</operation>
<operation name="getSomeMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getSomeMeasureRequest" message="tns:getSomeMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getSomeMeasureResponse" message="tns:getSomeMeasureResponse"/>
</operation>
<operation name="createMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/createMeasureRequest" message="tns:createMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/createMeasureResponse" message="tns:createMeasureResponse"/>
</operation>
<operation name="updateMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/updateMeasureRequest" message="tns:updateMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/updateMeasureResponse" message="tns:updateMeasureResponse"/>
</operation>
<operation name="deleteMeasure">
<input wsam:Action="http://webservice.localdb.lifecoach/People/deleteMeasureRequest" message="tns:deleteMeasure"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/deleteMeasureResponse" message="tns:deleteMeasureResponse"/>
</operation>
<operation name="readMeasureType">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readMeasureTypeRequest" message="tns:readMeasureType"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readMeasureTypeResponse" message="tns:readMeasureTypeResponse"/>
</operation>
<operation name="getIdMeasureTypeByType">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getIdMeasureTypeByTypeRequest" message="tns:getIdMeasureTypeByType"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getIdMeasureTypeByTypeResponse" message="tns:getIdMeasureTypeByTypeResponse"/>
</operation>
<operation name="getMeasureTypeList">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getMeasureTypeListRequest" message="tns:getMeasureTypeList"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getMeasureTypeListResponse" message="tns:getMeasureTypeListResponse"/>
</operation>
<operation name="getGoals">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getGoalsRequest" message="tns:getGoals"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getGoalsResponse" message="tns:getGoalsResponse"/>
</operation>
<operation name="readGoal">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readGoalRequest" message="tns:readGoal"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readGoalResponse" message="tns:readGoalResponse"/>
</operation>
<operation name="getGoalHistory">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getGoalHistoryRequest" message="tns:getGoalHistory"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getGoalHistoryResponse" message="tns:getGoalHistoryResponse"/>
</operation>
<operation name="createGoal">
<input wsam:Action="http://webservice.localdb.lifecoach/People/createGoalRequest" message="tns:createGoal"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/createGoalResponse" message="tns:createGoalResponse"/>
</operation>
<operation name="updateGoal">
<input wsam:Action="http://webservice.localdb.lifecoach/People/updateGoalRequest" message="tns:updateGoal"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/updateGoalResponse" message="tns:updateGoalResponse"/>
</operation>
<operation name="deleteGoal">
<input wsam:Action="http://webservice.localdb.lifecoach/People/deleteGoalRequest" message="tns:deleteGoal"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/deleteGoalResponse" message="tns:deleteGoalResponse"/>
</operation>
<operation name="getGoalByTitle">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getGoalByTitleRequest" message="tns:getGoalByTitle"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getGoalByTitleResponse" message="tns:getGoalByTitleResponse"/>
</operation>
<operation name="readGoalType">
<input wsam:Action="http://webservice.localdb.lifecoach/People/readGoalTypeRequest" message="tns:readGoalType"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/readGoalTypeResponse" message="tns:readGoalTypeResponse"/>
</operation>
<operation name="getGoalTypeList">
<input wsam:Action="http://webservice.localdb.lifecoach/People/getGoalTypeListRequest" message="tns:getGoalTypeList"/>
<output wsam:Action="http://webservice.localdb.lifecoach/People/getGoalTypeListResponse" message="tns:getGoalTypeListResponse"/>
</operation>
</portType>
<binding name="PeopleImplementationPortBinding" type="tns:People">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="readPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPeopleList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readLastMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readLastMeasureByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMeasureHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSomeMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMeasure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readMeasureType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdMeasureTypeByType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMeasureTypeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGoals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readGoal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGoalHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGoal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateGoal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteGoal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGoalByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="readGoalType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getGoalTypeList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PeopleService">
<port name="PeopleImplementationPort" binding="tns:PeopleImplementationPortBinding">
<soap:address location="http://introsde-lifecoach-localdb.herokuapp.com/ws/people"/>
</port>
</service>
</definitions>